@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';
@import 'icon';

body {
  font: $font-size $font-stack;
}

html,
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s; /* Firefox */
  -webkit-animation: fadein 2.5s; /* Safari and Chrome */
  -o-animation: fadein 2.5s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }

}

section {
  padding: 80px 0;
}

p {
  line-height: 145%;
}

h1 {
  font-family: strasua;
  font-size: 450%;
  color: $color-white;
  margin-bottom: 40px;
}
.section-heading {
  margin-bottom:30px;
  color:$color-white;
  font-weight: 500;
}

.section-heading,
h3 {
  font-family: $font-stack;
  font-weight: 300;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
