/* Navigation */
.primary-menu {
  width: 300px;
  padding-top: 50px;
  height: 100%;
  font-size: 200%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-600px, 0);
  transform: translate(-600px, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-color: #555;
  z-index: 10;
}

.primary-menu-header {
    padding: 0;
  }

.primary-menu-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 20px;
}
.primary-menu-link {
    color: $color-white;
    &:hover {
      color: $color-menu-hover;
      }
}


.js-primary-menu.open {
  position: fixed;
  -webkit-transform: translate(0, 0);
  transform: translate (0,0);
}
/* Navigation Icons */
.icon-close {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 20px;
  height:20px;
  fill:$color-primary;
  opacity:0.5;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.2;
  }
}
.icon-menu {
  position: absolute;
  left: 100px;
  cursor: pointer;
  fill:$color-white;
  width: 45px;
  height:45px;
}
