/*------------------------------------*\
  #HERO
\*------------------------------------*/
.hero {
	background: #43cea2; /* fallback for old browsers */
	background: #1CD8D2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1CD8D2 , #93EDC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height:100vh;
	position:relative;
}
.hero-holder {
	position:absolute;
	text-align:center;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border:none;
	}
.btn-contact {
	display:inline-block;
	padding:12px 30px;
	border:1px solid $color-white;
	@include border-radius(50px);
	text-decoration:none;
	color:$color-white;
	transition: background-color 0.2s;
	background-color:transparent;
	&:hover {
		border-color:#444;
		color:#444;
		transition: background-color 0.2s;
		}
	}
.triangle-shape {
	position:absolute;
	width:100%;
	bottom:0;
	height:15.5vw;
}
/*------------------------------------*\
  #ABOUT
\*------------------------------------*/
.about {

	text-align:center;
	color:$color-white;
	background:$color-white;

	h2 {
		color:#161616;
	}
	.description {
		width:50%;
		margin-left:25%;
		line-height:145%;
		color:#333;
		margin-top:2.5%;
	}
	.avatar {
		width:150px;
		height:150px;
		@include border-radius(50%);
	}
}
/*------------------------------------*\
  #SERVICES
\*------------------------------------*/
.services {
	text-align:center;
	color:white;
	margin-bottom:3%;
	background:#444;
	margin-bottom:0;
	.wrapper-services-mobile {
		h3 {
			display:inline-block;
			text-align:justify;
		}
	}
	.row {
		margin-top:15px;
	}

	p {
		color:rgba(255,255,255,0.7);
	}
	h3 {
		color:rgba(255,255,255,0.9);
	}
}
