#contact {
	text-align:center;
	background::rgba(68,68,68,0.96);
	color:$color-white;
	.social-icons {
		margin-bottom:20px;
		margin-top:20px;
	}
	.i-social {
		font-size:25px;
		margin-bottom:50px;
		padding:7px;
		color:$color-white;
		opacity:0.7;
		&:hover {
			opacity:1;
			color:$color-primary;
		}
	}
	h2 {
		margin-bottom:50px;
	}
	textarea.form-control {
		height:150px;

	}

	input {
		width:40%;
		margin-left:30%;
		color:white;
		background:transparent;
		border:1.5px solid white;
		transition: all .5s ease;
		&:focus {
			border:0;
			box-shadow:none;
		}
	}
	textarea {
		width:40%;
		margin-left:30%;
		background:transparent;
		border:1.5px solid white;
		box-shadow: none;
		resize: none;
		&:focus {
			box-shadow:0;
			border:none;
			color:white;
		}
		}
		input::-webkit-input-placeholder {
			color: white !important;
			}

			input:-moz-placeholder { /* Firefox 18- */
			color: white !important;
			}

			input::-moz-placeholder {  /* Firefox 19+ */
			color: white !important;
			 }
			 textarea::-webkit-input-placeholder {
				 color: white !important;
				 }

				 textarea:-moz-placeholder { /* Firefox 18- */
				 color: white !important;
				 }

				 textarea::-moz-placeholder {  /* Firefox 19+ */
				 color: white !important;
			 }

		#button-send {
			background:$color-white;
			display:block;
			padding:10px 35px;
			@include border-radius(20px);
			color:$color-white;
			border:1px solid $color-white;
			background:transparent;
			margin-bottom:35px;
			width:20%;
			margin-left:40%;
			&:hover {
				color:#444;
				transition: background-color 0.2s;
				border-color:#444;

			}
		}
	}
	.contact-link {
		color:$color-white;
		&:hover {
			color:$color-primary;	
			transition:color 0.2s;
		}
	}