#hero {

	/*background: #43cea2; /* fallback for old browsers */
	background: #1CD8D2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1CD8D2 , #93EDC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height:100vh;
	position:relative;
	.title-hero {
		position:absolute;
		text-align:center;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		border:none;
		h1 {
			font-size:500%;
			color:$color-white;
			font-weight:300;
			margin-bottom:40px;
			font-family:$font-stack;
		}
	
		p {
			color:rgba(255,255,255,0.8);
			letter-spacing:5px;
			margin-bottom:25px;
		}
		.button {
			display:inline-block;
			padding:12px 30px;
			border:1px solid $color-white;
			@include border-radius(50px);
			text-decoration:none;
			color:$color-white;
			transition: background-color 0.2s;
			background-color:transparent;
			&:hover {
				border-color:#444;
				color:#444;
				transition: background-color 0.2s;
			}
			.red-light {
				color:$color-primary;
			}
		}
	}
}
#about {
	padding:50px 0;
	text-align:center;
	color:$color-white;
	background:$color-white;

	h2 {
		color:#161616;
		margin-bottom:2%;
	}
	p {
		width:50%;
		margin-left:25%;
		line-height:145%;
		color:#333;
		margin-top:2.5%;
	}
	#about_me_img {
		width:150px;
		height:150px;
		@include border-radius(50%);
	}
}

#services {
	text-align:center;
	color:white;
	padding:65px 0;
	margin-bottom:3%;
	background:#444;
	margin-bottom:0;
	i {
		font-size:50px;
		color:$color-primary;
	}

	.wrapper-services-mobile {W
		h3 {
			display:inline-block;
			text-align:justify;
		}
	}
	.row {
		margin-top:15px;
	}
	h2 {
		color:$color-white;
	}
	p {
		color:rgba(255,255,255,0.7);
	}
	h3 {
		color:rgba(255,255,255,0.9);
	}
}
