@media (max-width:768px) {
  .form-control {
    width:70%;
    margin-left:15%;
  }
  #hero {
    height:auto;
    padding:220px 0;
    .menu-ham {
      top:5px;
      left:25px;

    }
    .title-hero {
      h1 {
        font-size:300%;
        &:after {
          display:none;
        }
      }
    }
  }
  #about {
    p {
      width:90%;
      margin-left:5%;
    }
  }
  #contact {
     input {
      width:80%;
      margin-left:10%;
    }
    textarea {
      width:80%;
      margin-left:10%;
    }
    h2 {
      margin:10px;
    }
    #button-send {
      width:30%;
      margin-left:35%;
    }

  }
  #services {
    padding:50px 0;
  }

}
